root = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
max_line_length = 100
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
end_of_line = lf
ktlint_function_naming_ignore_when_annotated_with = Composable, Test

# disable wildcard imports
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647
ij_kotlin_packages_to_use_import_on_demand = unset